[submodule "external/dds"]
	path = external/dds
	url = https://github.com/ivannp/dds.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
